#gallery {
  background-color: #00b515;

  padding: 5rem 0;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.gallery-item {
  width: 23%;
  height: 250px;
  background-color: #fff;
}
li {
  list-style: none;
}
